<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <title>Guild Showcase</title>
  </head>
  <body>
    <div class="content">
      <nav>
        <a href="#roster"><span class="navbar-item">roster</span></a>
        <a href="#rules"><span class="navbar-item">charte</span></a>
        <a href="#progress"><span class="navbar-item">progress</span></a>
      </nav>
      <div class="header">
      </div>
      <div>
        <h1 class="uppercase">serial slackeurs</h1>
      </div>
      <div id="roster">
        ROSTER
      </div>
      <div id="rules">
        <h1 class="uppercase">les incroyables règles</h1>
      </div>
      <div id="progress">
        <h1 class="uppercase">progress</h1>
      </div>
    <div>
  </body>
</html>
